:root {
    --color-azul: #0982FE;
    --color-verde: #6DE1C2;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-rojo: #670404;
    --color-gris-800: #8E8E8E;
    --color-gris-700: #737B7D
}
@media (prefers-color-scheme: dark) {
    :root{
        --color-azul: #0982FE;
        --color-verde: #6DE1C2;
        --color-blanco: #4b4b4b;
        --color-negro: #FFF;
        --color-rojo: #DD5471;
        --color-gris-800: #fafafa;
        --color-gris-700: #ededed;    
    }
    bottom {
        color: var(--color-negro);
    }
}
body{
    background-color: var(--color-blanco);
}
* {
    margin: 0px;
    font-family: 'Montserrat'; 
    font-size: 13px;
    font-weight: 400;
    color: var(--color-negro);
}
h1, h1 * {
    font-family: 'Montserrat';
    font-size: 46px;
    font-weight: 600;
    color: var(--color-negro);
}
h1 > span {
    color: var(--color-verde);
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-19{
    margin-bottom: 19px;
}
.contenedor {
    width: 100%;
    display: flex;
    height: 100vh;
}
.contenedor-formulario{
    width: 50%;
    display: flex;
    align-items: center;
}
form {
    margin: 0px 15%;
}
.contenedor-mapa {
    width: 50%;
    display: flex;
    align-items: center;
}
.contenedor-mapa > img {
    height: 90%;
}
.form-control * {
    background-color: transparent;
}
.form-control {
    margin-bottom: 24px;
    width: 100%;
}
.form-control > input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-gris-700);
    padding: 12px 16px;
    width: -webkit-fill-available;
}
.form-control > input::placeholder {
    color: var(--color-gris-800);
}
.fila-controles {
    display: flex;
    gap: 24px;
}
.fila-controles > .form-control:first-child {
    width: 70%;
}

.fila-controles > .form-control:last-child {
    width: 30%;
}
.drag-drop-zona {
    border: 1px dashed var(--color-gris-800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 24px;
    cursor: grabbing;
}
.drag-drop-zona > span, .drag-drop-zona-helper {
    color: var(--color-gris-800);
}
.checkbox {
    display: flex;
    gap: 8px;
}
.checkbox * {
    cursor: pointer;
}
button {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 16px 0px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
    cursor: pointer;
}
.formas-contacto {
    display: flex;
    justify-content: space-between;
}
.formas-contacto > div {
    display: flex;
}
.formas-contacto > div {
    gap: 15px;
}
.formas-contacto > div > div > p {
    font-weight: 600;
}
.formas-contacto > div > div > a {
    color: var(--color-rojo);
}
.color-verde-fondo {
    background-color: var(--color-verde);
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}
.subtitulo-2 {
    display: none;
}
a {
    cursor: pointer;
}

.formas-contacto > div:last-child > div > a {
    text-decoration: underline;
}


@media ( max-width: 425px ) {
    .contenedor {
        display: block;
        height: 100vh;
        overflow-y: auto;
    }
    .contenedor-formulario {
        width: 100%;
        display: block;
    }
    .contenedor-mapa {
        width: 100%;
        justify-content: center;
    }
    .contenedor-mapa > img {
        width: 90%;
        height: auto;
    }
    form {
        margin: 0px 5%;
    }
    .formas-contacto {
        display: block;
    }
    .color-verde-fondo {
        width: 1.5%;
    }
    h1 {
        margin-top: 38px;
        margin-bottom: 15px;
        text-align: center;
    }
    .subtitulo-2 {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
    .checkbox {
        justify-content: center;
    }
    .btn-container, .formas-contacto {
        padding: 0px 10%;
    }
    .formas-contacto > div {
        margin-bottom: 15px;
    }
    .subtitulo {
        display: none;
    }
    
}


@media (prefers-color-scheme: dark) {
    :root{
        --color-azul: #0982FE;
        --color-verde: #6DE1C2;
        --color-blanco: #4b4b4b;
        --color-negro: #FFF;
        --color-rojo: #DD5471;
        --color-gris-800: #fafafa;
        --color-gris-700: #ededed;    
    }
    .bottom {
        color: var(--color-negro);
    }
}
